<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
    <section class="slide">
        
    </section>
    <main>
        <%- include('./partials/propertyFilters.ejs') %>
        <div class="contenedor">
            <div class="h3-home">
                <h3>DESTACADOS</h3>
                <hr class="separador">
            </div>
            <section class="most-featured-properties">
                <% for(property of topThreeProperties) { %>
                    <%- include('./partials/singleProperty.ejs', {property: property, bookmark: true}) %>
                <% } %>
            </section>
            
            <div class="h3-home">
                <h3>EN ALQUILER</h3>
                <hr class="separador">
            </div>
            <section class="lista-propiedades">
                <% for(let property of featuredProperties) { %>
                    <%- include('./partials/singleProperty.ejs', {property: property}) %>
                <% } %>
            </section>
        </div>
            <section class="banner-home1">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempore velit aliquam quis unde ex iure tempora corporis dicta ducimus.</span>
            </section>
        <div class="contenedor">
            <div class="h3-home">
                <h3>EN VENTA</h3>
                <hr class="separador">
            </div>
            <section class="lista-propiedades">
                <% for(let property of newProperties) { %>
                    <%- include('./partials/singleProperty.ejs', {property: property}) %>
                <% } %>
            </section>
        </div>
        
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/propertySearch.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>