<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="slider-container">

        <ul class="slider" id="slider">
            <li class="slides"></a><img class="img-slider" src="/images/vaccum-clenar.jpg" alt=""></li>
            <li class="slides"><img class="img-slider" src="/images/girl-class.jpg" alt=""></li>
            <li class="slides"><img class="img-slider" src="/images/vaccum-clenar.jpg" alt=""></li>
        </ul>
    </div>
    <main class="contenedor">
        <section class="lista-productos">
            <% for(let product of products) { %>
                    <article class="producto" data-id="<%= product.id %>">
                        <img loading="lazy" src="<%= product.image %>">
                        <div class="info-producto">
                            <div class="precio"> 
                                <%= product.currency %> <%= product.price %>
                                <i class="fas fa-cart-plus cart-icon add-to-cart"></i> 
                            </div>
                            <% if(product.freeShipping === true) { %>
                            <div class="badge badge-success">Envío gratis</div>
                            <% } %>
                            <div class="titulo"> <%= product.name %> </div>
                            <div class="categoria"> <%= product.category %> </div>
                            <div class="descripcion-corta">
                                <p> <%= product.description %> </p>
                            </div>
                        </div>
                        
                    </article>
            <% } %>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/productList.js"></script>
</body>

</html>